<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>

    <!-- <link rel="import" href="components/vs-vote/vs-vote.html" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/0.4.5/document-register-element.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>
